#user_options{
	right:10px;
}
#grid_cuerpo{
	margin-top:0px;
}
.mensaje.modal{
	padding:1%;
}
.tema.modal{
	padding:1%;
}
.izquierda{
	text-align: left;
}
.derecha{
	text-align: right;
}
#enviarConstestacioMissatge{
	float: left;
}